.site-footer {
  background-image: url(../../images/dark-wood.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  .p {
    color: $color__background-body;
  }
}

.contact-info,
.business-hours {
  text-align: center;
  h3 {
    color: $color-h3;
  }
}

//.contact-info {
//}

.site-info {
  text-align: center;
  width: 100%;
}

.footer-image {
  width: 225px;
  flex-grow: 2;
  text-align: right;
  img {
    width: 285px;
  }
}
