.site-footer {
  background-image: url(../../images/dark-wood.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  color: $color__background-body;
  .p {
    color: #fff;
  }
}

.contact-info .business-hours {
  .h3 {
    color: $color-h3;
  }
}

.site-info {
  text-align: center;
  width: 100%;
}

.footer-image {
  width: 225px;
  flex-grow: 2;
  margin: 70px;
  img {
    width: 285px;
  }
}
