.site-footer {
  background-image: url(../../images/dark-wood.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  .p {
    color: $color__background-body;
  }
}

.h3 {
  color: $color-h3;
}

.contact-info {
  justify-content: left;
}

.business-hours {
  text-align: center;
}

//.contact-info {
//}

.site-info {
  text-align: center;
}
