.site-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;

  a {
    color: #fff;
    text-transform: uppercase;
  }

  .header-logo {
    // position: absolute;
    height: 75px;
    width: 40px;
  }
}

// Journal
