/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.hero-banner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner-logo {
  color: white;
  height: 285px;
}

.fp-shop-stuff {
  text-align: center;
}

/*  Journal */

.fp-journal {
  margin: 0 0.5rem;
  border: 1px solid #e1e1e1;
  width: 33%;
  .btn {
    border: 1px solid #e1e1e1;
    padding: 20px;
  }
}

.fp-journal-section h2 {
  text-align: center;
}

.fp-journals {
  display: flex;
  color: #248a83;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  .btn {
    border: 1px solid #e1e1e1;
    padding: 20px;
  }
}

.site-content {
  display: flex;
  width: 100%;
  .content-area {
    width: 100%;
  }
  .widget-area {
    width: 25%;
  }
}

.entry-header {
  position: relative;
  .entry-title {
    //position: absolute;
    top: 1.3rem;
    width: 500px;
    //background-color: #248a83;
  }
}

.entry-header a {
  color: #fff;
  position: relative;
}

/* Front page */

.product-type-block-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-top: 4px, solid #e1e1e1;
  margin: 0 0.5rem;
  align-items: center;
  padding: 15px;
  .btn {
    background-color: #248a83;
    border: none;
    color: #ffff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    padding: 2px 25px;
  }
}

.product-info-container {
  text-align: center;
}

.product-type-blocks {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  img {
    width: 25%;
  }
}

.latest-adven-posts {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1120px;
  margin: 0 auto 100px auto;
  grid-template-rows: 250px 250px;
}

.latest-adven {
  position: relative;
  &:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    background: skyblue;
    h3 {
      font-size: 55px;
    }
  }
  &:nth-of-type(2) {
    grid-column: 3 / 5;
    background: slategray;
    h3 {
      font-size: 35px;
      color: #fff;
    }
  }
  // &:nth-of-type(3) {
  // }
  // &:nth-of-type(4) {
  // }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.latest-advens {
  h2 {
    text-align: center;
  }
}

.adventure-meta {
  position: absolute;
  top: 0;
  left: 0;
  .btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
  }
  h3 {
    font-size: 25px;
    color: #fff;
  }
}
